body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    --font-inter: Inter;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
    --font-size-base: 16px;
    --font-size-29xl: 48px;
    --font-size-10xl: 29px;
    --font-size-19xl: 38px;
    --font-size-xl: 20px;
    --color-sandybrown: #f2a146;
    --color-white: #fff;
    --color-goldenrod: #f7b233;
    --color-black: #000;
    --color-dimgray: #585858;
    --gap-65xl: 84px;
    --gap-2xl: 21px;
    --gap-23xl: 42px;
    --gap-4xs: 9px;
    --gap-5xs: 8px;
    --padding-71xl: 90px;
    --padding-3xl: 22px;
    --padding-26xl: 45px;
    --padding-8xl: 27px;
    --padding-67xl: 86px;
    --padding-2xl: 21px;
    --padding-24xl: 43px;
    --padding-12xs: 1px;
    --padding-3xs: 10px;
    --padding-lgi: 19px;
    --padding-5xs: 8px;
    --padding-2xs: 11px;
    --padding-23xl: 42px;
    --br-xl: 20px;
    --br-31xl: 50px;
  }
  